
/* font-family BS */
@font-face{
    font-family:Bree_Serif;
    src: url('../fonts/Bree_Serif/BreeSerif-Regular.ttf');
}

/* font-family MateSC */
@font-face{
    font-family:MateSC;
    src: url('../fonts/Mate_SC/MateSC-Regular.ttf');
}

/* font-family Architects_Daughter */
@font-face{
    font-family:Architects_Daughter;
    src: url('../fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf');
}

@font-face{
    font-family: Alegreya;
    src: url('../fonts/Alegreya/Alegreya-VariableFont_wght.ttf')
}