* { margin: 0; padding: 0; }

:root {
	--color-font: #808080;
	--color-background: #fff;
	--view-minmax: calc((100vw - 500px) / (1920 - 500));
}

body {
	background: var(--color-background);
	font-family: "plantc", serif;
	color: var(--color-font);
	margin: 0;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: normal;
}

h1 {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* p element under section */
section > p, 
section .content p,
#more h2 {
	--size-p: calc(22px + (32 - 22) * var(--view-minmax));
	line-height: calc(var(--size-p) + 12px);
	font-size: var(--size-p);
	text-align: center;
	margin-bottom: 1em;
}

/* intro 1 */
#intro1 header {
  background-color: #000;
  color: #9342A6;
	display: grid;
	grid-template-columns: minmax(20%, 330px) 75px minmax(max-content, 1fr) 75px minmax(20%, 300px);
	grid-template-rows: 176px 55px minmax(max-content, 1fr) 35px 175px;
	grid-template-areas:
		". . . . rs"
		"ls . . . rs"
		"ls . h1 . rs"
		"ls . h2 . rs"
		"ls . h2 . .";
	transform: translateY(-88px);
}

#intro1 {
	--size-h1: calc(42px + (88 - 42) * var(--view-minmax));
	--size-h2: calc(20px + (28 - 20) * var(--view-minmax));
	min-height: 110vh;
}

#intro1 h1 {
    grid-area: h1;
    line-height: calc(var(--size-h1) * 1.382);
    font-size: var(--size-h1);
    align-self: center;
    
} 
#intro1 h2 {
    grid-column-end: rs;
    grid-area: h2;
    line-height: calc(var(--size-h2) + 10px);
    font-size: var(--size-h2);
}

/* #content p {
	position: relative;
  
	bottom: 0;


  width: 100%;
  height: 100%;

  overflow: hidden;
} */

div {
  /* margin-top: 20%;
  margin: 20% auto 0; */
  width: 300px;
}

h2, p {
  text-align: center;
  margin: 0;
}
p{
  font-size: 10px;
}

.bg-colors {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #eee5ac;
  overflow: auto;
  animation: colorchange 60s infinite;
}


.lc {
  width: 90%;

  margin: auto;
  flex-items: column;
  
  @media only screen and (min-width: 50em) {
    max-width: 50rem;
  }
  @media only screen and (min-width: 33.75em) {

  }
}


/* vertical align the items */
/* .v-align-outer {
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  /* }
} */ 
.v-align-inner {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}


@keyframes colorchange {
  0% {
    background: #000;
    color: white;
  }
  20% {
    background: #9342A6;
    color: white;
  }
  40% {
    background: #AA1A10;
    color: white;
  }
  60% {
    background: #FECF87;
  }
  61% {
    color: #333;
  }
  80% {
    background: #AEE77E;
  }
  81% {
    color: white;
  }
  100% {
    background: #7AD8F5;
    color: white;
  }
}




#earth {
    /* [1] Allow it to contain the absolutely positions pseudo-elements (later-on) */
    position: relative;
  
    /* [2] Set-up the dimensions and spacing */
    width: 300px;
    height: 300px;
    margin: 3em auto;
  
    /* [3] Prepare the animation effects */
    transition: transform 500ms linear;
    animation: rotate 7s linear infinite; /* This is going to be defined in the next step */
  
    /* [4] Tweak the appearance, and give it a nice background i.e. the world map */
    color: #000;
    border-radius: 50%;
    background: url(earthmap.jpeg);
    box-shadow: inset 20px 0 80px 6px rgba(0, 0, 0, 1);
  
    /* [5] Position things in a 3d space */
    transform-style: preserve-3d;
  }
  #earth:after {
    /* [1] Break the flow to show this as an overlay */
    position: relative;
    top: 0;
    left: 0;
  
    /* [2] Make it take all the space available in the box (ahem... globe!) */
    width: 100%;
    height: 100%;
  
    /* [3] Make sure this has no generated content, as we want this just for fancy purposes */
    content: '';
  
    /* [4] Give it some shape and shadow */
    border-radius: 50%;
    box-shadow: -60px 15px 60px 10px rgb(31, 31, 31) inset;
  }
  #earth:before {
    /* [1] Again, break the flow to show this as an overlay */
    position: absolute;
    top: 0;
    left: 0;
  
    /* [2] Again, give it all the available space */
    width: 100%;
    height: 100%;
  
    /* [3] Duh. */
    content: '';
  
    /* [4] Add some shape and overlay effect to it */
    opacity: .2;
    border-radius: 50%;
    background: radial-gradient(circle at 100px 100px, #fff, #ABEBC6 );
  }

  @keyframes rotate {
    0% {background-position: 0 0;}
    100% {background-position: 630px 0;}
  }

  /* html {
    scroll-behavior: smooth;
  }
   */